
<h1>Create your Post</h1>
<form action="/createpost" method="post">
  Post Title<br><input type="text" name="newpost[title]" placeholder="Title"><br><br>
  URL<br><input type="text" name="newpost[url]" placeholder="URL"><br><br>
  <input type="submit" value="Submit">
</form>
