
  <h1>Hacker Awesome!</h1>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" value="Log In">
  </form>
  <br><br>
  <form action="/signup" method="post">
    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" value="Sign Up">
  </form>
